input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}
ul {
    list-style-type: none;
}
button {
    background-color: #ff9500;
    border-radius: 5px;
    border: 0px solid;
}

*:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {   
    background-color: #ffba00;
    height: 60px;
    justify-content: space-evenly;
}
.nav__list {
    display: flex;
    list-style: none;
    align-items: center;
}
.nav__list li {
    padding: 0px 15px;

}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0,0, 0.3);
}
.nav__link {
    text-decoration: none;
    color: black;
}

.nav__bars_mobile {
    margin: 0 30px;
}


.nav__bars_mobile i {
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.nav__mobile_search_icon {
    margin-right: 3rem;
}

.logo {
    height: 50px;
    width: 180px;
}

.content {
    box-shadow: 1px 1px 15px rgb(228, 227, 227);
    border-radius: 5px;
    background-color: white;
}

section {
    padding-top: 4rem;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.search-bar {
    display: inline-flex;
    width: 35vw;
    height: 35px;
    background-color: white;
    border-radius: 3px;
    align-items: center;
} 

.search-bar form {
    display: inline-flex;
    align-items: center;
}

.search-form {
    margin-left: 5px;
    color: black;
    width: 32vw;
}

.search-button {
    margin-right: 2px;
    color: white;
    width: 40px;
    height: 30px;
}

.nav__bars_mobile {
    display: none;
}


.sellcar {
    width: 10vw;
    height: 40px;
    font-size: medium;
    color: white;
    font-weight: bold;
}

.c-list {
    width: 100%;
    height: 250px;
    min-width: 880px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-indicators button.active {
    background-color: #ff9500;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.category img {
    background-color: #CCC;
    border: 10px solid #ccc;
    border-radius: 50%;
    margin-bottom: 5px;

}

.category img:hover {
    background-color: #ffba00;
    border: 10px solid #ffba00;
}

.category h3 {
    font-size: small;
    font-weight: 400;
    text-align: center;
}

.five-good {
    background-image: url("https://static.chotot.com/storage/trusted_inventory/bg_inspected_desktop.png");
    background-size: cover;
    background-position: 100%;
}

.fa-circle-info {
    margin-top: 3px;
    margin-left: 10px;
}

.relative-container {
    display: relative;
    margin: 0 auto;
    width: 900px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.criteria {
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: max-content;
    font-size: 14px;
}

.criteria img {
    margin-top: -13px;
}

.container {
    margin: 0 auto;
    width: 900px;
    position: relative;
}

.card-body * {
    align-items: center;
    font-size: 14px;
}

.car:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgb(184, 182, 182);
}

.slider-container {
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    cursor: pointer;
    white-space: no-warp;
    gap: 10px;
}

.card-img-top {
    height: 150px;
}

.card-text {
    position: absolute;
    bottom: 0;
}

.text-1 {
    transform: translateY(-150%);
}

.text-2 {
    transform: translateY(-70%);
}

.slide-button {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(184, 182, 182);
}

.slide-button:hover {
    height: 40px;
    width: 40px;
}

.car {
    margin-bottom: 20px;
}

.prev-btn, .brand-prev-btn {
    left: 0;
    display: none;
    margin-top: -50px;
    margin-left: 2px;
}
  
.next-btn, .brand-next-btn {
    right: 0;
    margin-top: -50px;
    margin-right: 2px;
}

.prev-btn svg {
    margin-top: -3px;
    margin-left: -2px;
}
.next-btn svg {
    margin-top: -3px;
    margin-right: -2px;
}

.watch-more {
    position: relative;
    width: 100%;
    height: 35px;
    background-color: white;
    border: 2px solid #CCC;
    font-weight: bold;
}

.brand-card {
    margin: 10px 10px;
    width: 300px;
    height: 325px;
    border: 2px solid #d5d5d5;
    border-radius: 5px;
}

.brand-logo {
    object-fit: fill;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #d5d5d5;
}
.brand-container {
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    cursor: pointer;
    white-space: no-warp;
    margin-left: -25px;

}

.brand-logo-card {
    padding-top: 15px;
    padding-left: 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.brand-logo-card p {
    font-size: 14px;
}

.brand-banner img {
    width: 100%;
    margin-bottom: 5px;
}

.brand-vehicle {
    display: inline-flex;
    gap: 12px;
}

.vehicle-product {
    position: relative;
    margin-top: 5px;
    margin-left: 2px;
    width: 84px;
    height: 125px;
}

.vehicle-product p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sales-label {
    position: absolute;
    color: red;
    font-size: 8px;
    font-weight: bold;
    background-color: #fddddd;
    padding-left: 5px;
    width: 28px;
    border-radius: 5px;
    top: 0;
    right: 0;
    margin-right: 8px;
    margin-top: -5px;
}

.nav__list li {
    cursor: pointer;
}

.dropdown {
    padding: 10px;
    cursor: pointer;
}

.dropdown-select:hover {
    color: #565555;
}


.dropdown__list {
    position: absolute;
    margin-top: 10px;
    width: 250%;
    display: none;
    padding-left: 0px;
    margin-left: -25px;
    box-shadow: 0px 0px 5px 2px rgb(184, 182, 182);
}

.dropdown:hover .dropdown__list {
    display: block;
}

.dropdown__item img {
    width: 25px;
    height: 25px;
}

.dropdown__item {
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;
    gap: 15px;
}

.dropdown__item a {
    color: black;
    text-decoration: none;
}

.dropdown__item:hover {
    background-color: rgb(243, 243, 243);
}

section {
    padding-bottom: 50px;
}

.lien-ket svg {
    margin: 10px 10px 20px 0px;
    cursor: pointer;
}

.content_2 {
    color: white;
    box-shadow: 1px 1px 15px rgb(228, 227, 227);
    border-radius: 10px;
    background-image: url("../img/background-inside-1.png");
}

.label {
    display: flex;
    gap: 15px;
}

.label__status {
    display: flex;
    font-size: 12px;
    background-color: #ff8800;
    margin-top: -2px;
    padding: 3px 5px 0px 5px;
    height: 25px;
    border-radius: 5px;
    font-weight: 700;
}

.label__more_new {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: -2px;
}

.last-content {
    margin: 0 auto;
    width: 900px;
    display: block;
    font-size: 14px;
}

.last-content h6 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.last-content p {
    text-align: justify;
    margin-bottom: 10px;
}


.newest_list {
    margin: 10px 0px;
    display: flex;
    overflow: hidden;
}

.newest_item {
    width: 200px;
    height: 240px;
    background-color: white;
    border-radius: 7px;
    margin-right: 20px;
    color: black;
    display: relative;
}

.newest_img {
    width: 200px;
    height: 123px;
    border-radius: 10px;
}

.newest_item * {
    display: flex;
    justify-content: center;
}

.newest_box {
    display: block;
    background-color: #f4f4f4;
    width: 90%;
    margin-left: 10px;
    border-radius: 10px;
}

.newest_brand {
    color: #8a8a8a;
    margin: 0;
}

.newest_name {
    font-weight: bold;
    margin-top: 5px;
}

.newest_price_label {
    margin: 15px 0px 0px -110px;
    font-size: 12px;
    color: #929292;
    
}

.newest_price_price {
    margin: 0px 0px 0px -25px;
    font-weight: 600;
}

/* Message box */

.contact-us {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 90%;
    right: 0;
    border-radius: 50%;
    margin-right: 20px;
}

.message__box_contact {
    padding: 15px;
    position: fixed;
    top: 30%;
    transform: translateX(100%);
    width: 560px;
    height: 230px;
    border-radius: 10px;
    background-color: #fff7ea;
    display: none;
}

.message__box_contact h4 {
    color: #fe9900;
}

.message__box_contact p {
    margin-top: 15px;
}

.message__box_contact input {
    background-color: white;
    margin-right: 15px;
    width: 245px;
    height: 50px;
    border-color: #929292;
    border-width: 2px;
    color: black;
    padding: 15px;
    margin-bottom: 20px;
}

.message__box_overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0,0, 0.3);
    display: none;
}

.message__box_contact .send-contact {
    width: 510px;
    height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

.message__box_contact .x-close {
    position: fixed;
    top: 10%;
    right: 4%;
    cursor: pointer;

}

.message__box_error {
    color: red;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-bottom: 5px;
}

/* Footer */
.footer {
    background-color: rgb(27, 41, 53);
    color: white;
    padding: 70px 100px;
}
.footer a {
    color: #fff;
    text-decoration: none;
}

.footer h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 12px;
}

.footer h3 {
    color: #6A7077;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 24px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-bottom: 16px;
}

.footer-address {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
}

.footer-address h2 {
    margin-bottom: 20px;
}
.footer-address p {
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-bottom-copyright {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #8a8a8a;
}

.footer-subscribe {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscribe h3 {
    color: white;
    margin-bottom: 0;
}

.footer-subscribe input {
    width: 20vw;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.footer-subscribe button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.footer-subscribe button:hover {
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    color: white;
}

#error-message {
    color: red;
    margin-top: 5px;
    
}